@charset "UTF-8";

/* todas as medias*/
/*pequenas telas:até 600px
celular: de 600px a 768px
tablet: de 768 a 992
desktop: de 992 a 1200
grandes telas: acima de 1200 */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font1: "Poppins", sans-serif;
    --font2: "Playwrite PE", cursive;
    --cor1: #DD858F;
    --cor2: #FAA1B4;
    --cor3: #88EAD9;
    --cor4: #467DB3;
    --cor5: #27325C;
    --cor6: #27325c96;
    --cor7: #fae4e9;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    header{
        display: flex;
        justify-content: space-between;

        height: 70px;

        
    }
    
    img#menu{
       display: none; 
    }

    header h1{
        font-size: 1.6em;
        margin: 0;
        
    }
    
    nav#nav-menu {
        display: flex;
        padding-right: 300px;
        gap: 20px;
        justify-content: center;
    }

    nav a#cabeçalho-fale-c {display: none;}


    nav#nav-menu a{
        
        font-weight: bold;
        font-size: 1.3em;
        margin: 0 10px;
    }
       
    img#carrinho{
        width: 48px;
        height: 48px;
    }

    @media screen and(min-width: 768px) and (max-width: 992px) {
        header {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
        }
    
        img#menu {
            display: none;
        }
    
        header h1 {
            font-size: 1.6em;
            margin: 0;
        }
    
        nav#nav-menu {
            display: flex;
            justify-content: center;
            flex: 1;
        }
    
        nav#nav-menu a {
            font-weight: bold;
            font-size: 1.3em;
            margin: 0 10px;
        }
    
        img#carrinho {
            width: 48px;
            height: 48px;
        }
    
        nav a#cabeçalho-fale-c {
            display: none;
        }
    }
    
}



@media screen and (min-width: 993px) and (max-width: 1200px) {

    header{
        display: flex;
        justify-content: space-between;
        
    }

    #header-content h1{
        
        
    }
    img#menu{
        display: none;
    }

    nav#nav-menu {
        display: flex; /* Esconde o menu por padrão */
        justify-content: center;
        align-items: center;     
    }

    img#carrinho{
    }

    nav a{
        text-decoration: none;
        color: black;
        padding: 10px;
        margin: 10px;
        padding: 8px 10px 10px 8px ;
        font-weight: bold;
        font-size: 1.3em;
        font-family: var(--font2);
        height: 20px;
        
    }
    
    nav a:hover{
    
    }
    
    img#carrinho{
        width: 40px;
        margin-right: 50px;
    }
    
    section#principal{
        flex-direction: row;
        justify-content:space-between;
    }

    div#titulo{
        width: 50%;
        padding: 20px;
    }

    #img-container{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    #img-principal{
        max-width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    header{
        display: flex;
        
    }

    #header-content > h1{
        margin : 0px;
        
    }
    img#menu{
        display: none;
    }

    nav#nav-menu {
        display: flex; 
        justify-content: center;
        align-items: center;     
    }

    img#carrinho{
    }

    nav a{
        text-decoration: none;
        color: black;
        padding: 10px;
        margin: 10px;
        padding: 8px 10px 10px 8px ;
        font-weight: bold;
        font-size: 1.3em;
        font-family: var(--font2);
        height: 20px;
        
    }
    
    nav a:hover{
    
    }
    
    img#carrinho{
        width: 40px;
        margin-right: 50px;
    }
    
    section#principal{
        flex-direction: row;
        justify-content:space-between;
    }

    div#titulo{
        width: 40%;
        padding: 20px;
    }

    div#titulo h1{
        font-size: 2.5em;
    }

    div#titulo h2{
        font-size: 1.7em;
    }

    div#titulo p{
        font-size: 1.5em;
    }

    .redes-sociais{
        width: 60px;
        border-radius: 50%;
        border: 2px solid white;
        margin: 15px;
    }

    #img-container{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    #img-principal{
        max-width: 80%;
    }

    div#container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    
    
    }
    
    div.item{
        position: relative;
        background-color: var(--cor3);
        border: 1px solid rgba(0, 0, 0, 0.781);
        border-radius: 10px;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.329);
        width: 100%; /* Ajusta a largura para preencher a coluna */
        max-width: 210px; /* Garante que não ultrapasse a largura máxima */
        height: 260px;
        text-align: center;
        text-decoration: none;
    }
}
