@charset "UTF-8";
/* versão mobile first */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font1: "Poppins", sans-serif;
    --font2: "Playwrite PE", cursive;
    --cor1: #DD858F;
    --cor2: #FAA1B4;
    --cor3: #88EAD9;
    --cor4: #467DB3;
    --cor5: #27325C;
    --cor6: #27325c96;
    --cor7: #fae4e9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor2);
}

header {
    background-color: var(--cor2);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    position: relative;
    margin-bottom: -20px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header h1 {
    text-transform: uppercase;
    font-family: var(--font1);
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.479);
    margin: 0 auto;
}

header img {
    width: 48px;
    height: 48px;
    padding: 10px;
}

img#carrinho {
    margin-right: 3px;
}

img#menu-icon {
    margin-left: 3px;
    cursor: pointer;
}

nav#nav-menu {
    display: none; /* Esconde o menu por padrão */
}

nav#nav-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

nav#nav-menu a:hover {
    background-color: #f0f0f0;
}

section#principal {
    background-image: linear-gradient(to right, var(--cor4), var(--cor5));
    width: 100vw;
    height: 100%;
    padding-top: 55px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#titulo {
    margin: auto;
    width: 80%;
    text-align: center;
}

div#titulo h1, h2, p {
    color: white;
}

div#titulo h1 {
    font-family: var(--font1);
    text-transform: uppercase;
    font-size: 1.8em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.479);
    margin: 0 auto;
}

div#titulo h2 {
    font-family: var(--font2);
    font-size: 1.3em;
}

div#titulo p {
    margin-top: 30px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2em;
}

.redes-sociais {
    margin: 30px 10px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

#img-container {
    width: 70%;
    display: flex;
    justify-content: center;
}

#img-principal {
    max-width: 100%;
    height: auto;
}

section#produto {
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section#prod {
    background-color: var(--cor7);
    width: 90%;
}

section#prod h2 {
    font-family: var(--font2);
    color: black;
    text-align: center;
    padding: 15px;
}

div#titulo-produtos {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.342);
}

div#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: auto;
}

div.item {
    background-color: var(--cor3);
    width: 200px;
    box-sizing: border-box;
    height: 230px;
    margin: 7px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.158);
}


